<settings>
	<destinations />
	<authentication>
		<dropbox>
			<access_token />
		</dropbox>
		<twitter>
			<access_token />
			<access_token_secret />
		</twitter>
	</authentication>
	<num_workflows>1</num_workflows>
	<workflows>
		<workflow1>
			<hotkeys>Control_L+Shift_L+dollar</hotkeys>
			<capture_method>def_rect</capture_method>
			<after_capture>upload</after_capture>
			<after_upload>copy_link_to_clipboard,generate_qr_code</after_upload>
		</workflow1>
	</workflows>
</settings>